<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <h1><img src="/img/house.png" id="company_logo"> MySmartHome</h1>
    <h2>About Page</h2>

    <nav>
        <ul>
            <li>
                <a href="./"> Home </a>
            </li>
            <li>
                <a href="./about" class="active"> About </a>
            </li>
            <li>
                <a href="./addadevice"> Add a Device </a>
            </li>
            <li>
                <a href="./dashboard"> Dashboard: View, Control and Delete Devices </a>
            </li>
        </ul>
    </nav>
    <h3>About MySmartHome</h3>
    <p>This web application was developed by <b>Jonathan</b>. It is a dynamic web application that employs routes,
        forms, and
        database access to present a dashboard that enables a customer to control devices in a user-friendly interface.
        Users are
        able to add, delete, update, and view the status of the devices that have been added to the system. The
        user interface provides a pre-defined list of devices and appliances that are available for selection and
        customizable by name.
</body>

</html>