<!DOCTYPE html>
<html>

<head>
    <title>Device Management Home Page</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <h1><img src="/img/house.png" id="company_logo"> MySmartHome</h1>
    <h2> Device Management Home Page </h2>

    <nav>
        <ul>
            <li>
                <a href="./" class="active"> Home </a>
            </li>
            <li>
                <a href="./about"> About </a>
            </li>
            <li>
                <a href="./addadevice"> Add a Device </a>
            </li>
            <li>
                <a href="./dashboard"> Dashboard: View, Control and Delete Devices </a>
            </li>
        </ul>
    </nav>
    <h3>Welcome to <b>MySmartHome</b></h3>
    <p>To learn more about <b>MySmartHome</b>, visit the <a href="./about"><b>About Page</b>.</a><br>Visit the <a
            href="./addadevice"><b>Add a Device
                Page</b></a> to begin managing your devices.</p>

    <h5>This page was last updated <b>July 4, 2022</b>.</h5>
</body>

</html>